
  <ion-header>
    <ion-toolbar>
      <ion-icon name="notifications-outline"></ion-icon>
      Perfil de usuario
    </ion-toolbar>
  </ion-header>

<ion-content>
  <br>
  <div>
    <img class="avatar" src="https://alchetron.com/cdn/dio-brando-247c069d-8c56-4504-bd8c-bc5fe300145-resize-750.jpeg">
  </div>
  <div class="ion-justify-content-center" style="text-align: center; margin: 10px">
    <ion-title>Dio Brando</ion-title>
  </div>
  <div class="ion-justify-content-center" style="text-align: center">
    <button class="item">Creados</button>
    <button class="item">Guardados</button>
  </div>
  
  <ion-grid class="ion-text-center">
    <ion-row class="ion-justify-content-center">
      <ion-col>
        <ion-card> 
          <img class="favs" src="https://pbs.twimg.com/media/Egx5KzMWAAEUx74.jpg" />
          <img class="favs" src="https://i.pinimg.com/550x/e6/09/3e/e6093e774b6a9e11392bcb55000d5cee.jpg" />
          <img class="favs" src="https://i.pinimg.com/564x/15/36/4f/15364fefbbb00078f83441837bce8939.jpg" />
        </ion-card>
        <h6>Imagenes más recientes</h6>
      </ion-col>

      <ion-col>
        <ion-card> 
          <img class="favs" src="https://i.pinimg.com/564x/ec/29/2d/ec292dab79f6a0844deb41583650a34b.jpg" />
          <img class="favs" src="https://i.pinimg.com/236x/7d/b6/7a/7db67a990c1dab4ad17339adc18f7847--photo-poses-pixel-art.jpg" />
          <img class="favs" src="https://i.pinimg.com/474x/25/da/ed/25daed09d35bf9d913b2f9da55342dc9.jpg" />
        </ion-card>
        <h6>Imagenes que te gustaron</h6>
      </ion-col>
    </ion-row>
  </ion-grid>
 
</ion-content>