<ion-header>
  <ion-toolbar>
    <ion-icon name="person-outline">Perfil</ion-icon>
    <ion-title>Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-avatar>
  <ion-img src="https://alchetron.com/cdn/dio-brando-247c069d-8c56-4504-bd8c-bc5fe300145-resize-750.jpeg"></ion-img>
</ion-avatar>

<ion-title>⸸ 𝔻𝕚𝕠 𝔹𝕣𝕒𝕟𝕕𝕠 ⸸</ion-title><br>
__________________________________
<br>
<br>
  <ion-chip>
    <ion-icon name="star-outline"></ion-icon>
    Favoritos
  </ion-chip>__________________________________

  <ion-grid class="gallery">
      <ion-card class="ion-padding">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVufS2biE9gkxW14nKaXaCz72QVWQzT5wUbg&usqp=CAU" />
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVufS2biE9gkxW14nKaXaCz72QVWQzT5wUbg&usqp=CAU" />
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVufS2biE9gkxW14nKaXaCz72QVWQzT5wUbg&usqp=CAU" />
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVufS2biE9gkxW14nKaXaCz72QVWQzT5wUbg&usqp=CAU" />
      </ion-card>

      <ion-card class="ion-padding">
          <img src="https://www.kindpng.com/picc/m/100-1008402_world-jojo-png-transparent-png.png" />
          <img src="https://www.kindpng.com/picc/m/100-1008402_world-jojo-png-transparent-png.png" />
          <img src="https://www.kindpng.com/picc/m/100-1008402_world-jojo-png-transparent-png.png" />
          <img src="https://www.kindpng.com/picc/m/100-1008402_world-jojo-png-transparent-png.png" />
      </ion-card>

      <ion-card class="ion-padding">
        <img src="https://www.kindpng.com/picc/m/100-1008402_world-jojo-png-transparent-png.png" />
        <img src="https://www.kindpng.com/picc/m/100-1008402_world-jojo-png-transparent-png.png" />
        <img src="https://www.kindpng.com/picc/m/100-1008402_world-jojo-png-transparent-png.png" />
        <img src="https://www.kindpng.com/picc/m/100-1008402_world-jojo-png-transparent-png.png" />
    </ion-card>

    <ion-card class="ion-padding">
      <img src="https://www.kindpng.com/picc/m/100-1008402_world-jojo-png-transparent-png.png" />
      <img src="https://www.kindpng.com/picc/m/100-1008402_world-jojo-png-transparent-png.png" />
      <img src="https://www.kindpng.com/picc/m/100-1008402_world-jojo-png-transparent-png.png" />
      <img src="https://www.kindpng.com/picc/m/100-1008402_world-jojo-png-transparent-png.png" />
    </ion-card>

    <ion-card class="ion-padding">
      <img src="https://www.kindpng.com/picc/m/100-1008402_world-jojo-png-transparent-png.png" />
      <img src="https://www.kindpng.com/picc/m/100-1008402_world-jojo-png-transparent-png.png" />
      <img src="https://www.kindpng.com/picc/m/100-1008402_world-jojo-png-transparent-png.png" />
      <img src="https://www.kindpng.com/picc/m/100-1008402_world-jojo-png-transparent-png.png" />
    </ion-card>
  </ion-grid>
</ion-content>
