ion-header {
    margin-top: auto;
    text-align: center;
    max-width: 100%;
}

.avatar {
    border: 2px solid goldenrod;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    place-items: center;
    border-radius: 50%;
}

ion-chip {
    font: unset;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 20px;
}

ion-icon {
    margin-left: auto;
    margin-right: 0px;
}

ion-text {
    margin-left: 20px;
    place-items: center;
    text-align: center;
}

ion-title {
    display: block;
    border: 2px solid #bbb;
    border-radius: 20px;
}

ion-card {
    display: inline-flex;
    border: 1px solid #bbb;
    border-radius: 20px;
    background-color: white;
}

img {
    display: flex;
    place-items: center;
    width: calc(100vw/2 - 10px);
}