ion-slides {
    --bullet-background: rgb(44, 44, 44);
    --bullet-background-active: white;
    width: 100%;
    max-height: 35vh;
    background: black;
    overflow: hidden;
}

.portada-busqueda {
    min-height: 35vh;
    object-fit: cover;
    opacity: 0.4;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 1;
  }
  