
<ion-content>
  <br>
  <ion-searchbar animated showCancelButton="focus" cancelButtonText="Cancelar" placeholder="Busca ideas"></ion-searchbar>
  <ion-slides pager="true" [options]="slideOptsOne">
    <ion-slide>
      <div class="centered-title">
        <p>Naturaleza</p>
        <h3>Todo sobre bosques</h3>
      </div>
      <img class="portada-busqueda" src="../../assets/img/Arbol16.jpg">
    </ion-slide>
    <ion-slide>
      <div class="centered-title">
        <p>Trekking</p>
        <h3>Las mejores vistas</h3>
      </div>
      <img class="portada-busqueda" src="../../assets/img/montana.jpg">
    </ion-slide>
    <ion-slide>
      <div class="centered-title">
        <p>Hogar Limpio</p>
        <h3>Tips para la limpieza de tu hogar</h3>
      </div>
      <img class="portada-busqueda" src="../../assets/img/limpieza.jpg">
    </ion-slide>
  </ion-slides>

  <div>
    <h2 class="ion-text-center">
      Ideas para ti
    </h2>
  </div>
  <ion-grid class="ion-text-center">
    <ion-row>
      <ion-col>
        <div class="centered">
          <h4>texto</h4>
        </div>
        <img src="../../assets/img/Arbol16.jpg" class="ideas-img">
      </ion-col>
      <ion-col>
        <div class="centered">
          <h4>texto mas largo de lo normal</h4>
        </div>
        <img src="../../assets/img/Arbol16.jpg" class="ideas-img">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="centered">
          <h4>texto</h4>
        </div>
        <img src="../../assets/img/Arbol16.jpg" class="ideas-img">
      </ion-col>
      <ion-col>
        <div class="centered">
          <h4>texto mas largo de lo normal</h4>
        </div>
        <img src="../../assets/img/Arbol16.jpg" class="ideas-img">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="centered">
          <h4>texto</h4>
        </div>
        <img src="../../assets/img/Arbol16.jpg" class="ideas-img">
      </ion-col>
      <ion-col>
        <div class="centered">
          <h4>texto mas largo de lo normal</h4>
        </div>
        <img src="../../assets/img/Arbol16.jpg" class="ideas-img">
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
