
<ion-content>
  <br>
  <ion-searchbar animated showCancelButton="focus" cancelButtonText="Cancelar" placeholder="Busca ideas"></ion-searchbar>
  <ion-slides pager="true" [options]="slideOptsOne">
    <ion-slide>
      <div class="centered">
        <p>Conociendo</p>
        <h1>Naturaleza</h1>
      </div>
      <img class="portada-busqueda" src="../../assets/img/Arbol16.jpg">
    </ion-slide>
    <ion-slide>
      <img class="portada-busqueda" src="../../assets/img/arbol2.jpg">
    </ion-slide>
    <ion-slide>
      <img class="portada-busqueda" src="../../assets/img/arbol3.jpg">
    </ion-slide>
  </ion-slides>
</ion-content>
