
<ion-header>
  <ion-header>
    <ion-toolbar><ion-icon name="notifications-outline"></ion-icon>Notificaciones</ion-toolbar>
  </ion-header>
  <div class="scroll-h">
    <button class="item">Notificaciones</button>
    <button class="item">Solicitudes</button>
    <button class="item">Mensajes</button>
  </div>
</ion-header>

    
<ion-content class="centered">

<ion-toolbar>"Joseph Joestar" a comentado la foto de "The World" /
   "Tu siguiente frase es ...".</ion-toolbar>

<ion-card>
  <ion-row class="ion-justify-content-center">
    <ion-col>
        <div>
          <img src="https://i.pinimg.com/736x/9d/83/5f/9d835f7b52f28dc0c557c8d0a80457cd.jpg" />
      </div>
  </ion-col>
      <ion-col>
        <div>
          <img src="https://www.kindpng.com/picc/m/100-1008402_world-jojo-png-transparent-png.png" />
      </div>
    </ion-col>
  </ion-row>
</ion-card>

  <ion-toolbar>"Dio Brando" a comentado la foto de "The World".</ion-toolbar>
      
  <ion-card>
    <ion-row class="ion-justify-content-center">
      <ion-col>
        <div>
          <img src="https://i.pinimg.com/originals/e2/1e/8f/e21e8f4400ae0f5b5eaea64517b556e0.jpg" />
        </div>
      </ion-col>
      <ion-col>
        <div>
          <img src="https://www.kindpng.com/picc/m/100-1008402_world-jojo-png-transparent-png.png" />
        </div>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-toolbar>Imagenes recomendadas según tus gustos.</ion-toolbar>

  <ion-card>
    <ion-row class="ion-justify-content-center">
    <ion-col>
      <div> 
        <img src="https://static.wikia.nocookie.net/90595d7c-ae8f-4d73-b9c3-9659f8112a40/scale-to-width/755" />
      </div>
    </ion-col>
    <ion-col>
      <div>
        <img src="https://i.pinimg.com/originals/e2/1e/8f/e21e8f4400ae0f5b5eaea64517b556e0.jpg" />
      </div>
    </ion-col>
    <ion-col>
      <div>
        <img src="https://pbs.twimg.com/media/D9bRnC7W4AAF0d4.jpg" />
      </div>
    </ion-col>
  </ion-row>
</ion-card>

  <ion-toolbar>Imagenes recomendadas según tus gustos.</ion-toolbar>

  <ion-card>  
    <ion-row class="ion-justify-content-center">
    <ion-col>
      <div> 
        <img src="https://i.pinimg.com/originals/e7/51/e3/e751e35f55af94fb5a8d1d0ad67871dc.jpg" />
      </div>
    </ion-col>
    <ion-col>
      <div>
        <img src="https://64.media.tumblr.com/979b54077bb8da3d710cad5810108af9/tumblr_nzef93WKlD1v1kat5o1_500.jpg" />
      </div>
    </ion-col>
    <ion-col>
      <div>
        <img src="https://i.pinimg.com/474x/01/09/c7/0109c712edf192228370a542cc397c3a--jojos-bizarre-adventure-jojo-bizarre.jpg" />
      </div>
    </ion-col>
  </ion-row>
</ion-card>
  
</ion-content>
