<ion-header>
  <ion-toolbar>
    <ion-title>Notificaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-header class="ion-no-border">
  <div class="scroll-h">
    <button class="item">Notificaciones</button>
    <button class="item">Solicitudes</button>
  </div>
</ion-header>

<ion-content>
  <ion-item>
    <ion-avatar>
      <img src="https://static.jojowiki.com/images/thumb/3/3a/latest/20210430072039/Jotaro_SC_Infobox_Anime.png/400px-Jotaro_SC_Infobox_Anime.png/400/400" />
    </ion-avatar>
    <h2>Notificacion de "Jotaro Kujo"</h2>
  </ion-item>

  <ion-item>
    <ion-avatar>
      <img src="https://static.jojowiki.com/images/thumb/3/3a/latest/20210430072039/Jotaro_SC_Infobox_Anime.png/400px-Jotaro_SC_Infobox_Anime.png/400/400" />
    </ion-avatar>
  </ion-item>

  <ion-item>
    <ion-avatar>
      <img src="https://static.jojowiki.com/images/thumb/3/3a/latest/20210430072039/Jotaro_SC_Infobox_Anime.png/400px-Jotaro_SC_Infobox_Anime.png/400/400" />
    </ion-avatar>
  </ion-item>

  <ion-item>
    <ion-avatar>
      <img src="https://static.jojowiki.com/images/thumb/3/3a/latest/20210430072039/Jotaro_SC_Infobox_Anime.png/400px-Jotaro_SC_Infobox_Anime.png/400/400" />
    </ion-avatar>
  </ion-item>
  <ion-item>
    <ion-avatar>
      <img src="https://static.jojowiki.com/images/thumb/3/3a/latest/20210430072039/Jotaro_SC_Infobox_Anime.png/400px-Jotaro_SC_Infobox_Anime.png/400/400" />
    </ion-avatar>
  </ion-item>

  <ion-item>
    <ion-avatar>
      <img src="https://static.jojowiki.com/images/thumb/3/3a/latest/20210430072039/Jotaro_SC_Infobox_Anime.png/400px-Jotaro_SC_Infobox_Anime.png/400/400" />
    </ion-avatar>
  </ion-item>

  <ion-item>
    <ion-avatar>
      <img src="https://static.jojowiki.com/images/thumb/3/3a/latest/20210430072039/Jotaro_SC_Infobox_Anime.png/400px-Jotaro_SC_Infobox_Anime.png/400/400" />
    </ion-avatar>
  </ion-item>

  <ion-item>
    <ion-avatar>
      <img src="https://static.jojowiki.com/images/thumb/3/3a/latest/20210430072039/Jotaro_SC_Infobox_Anime.png/400px-Jotaro_SC_Infobox_Anime.png/400/400" />
    </ion-avatar>
  </ion-item>

  <ion-item>
    <ion-avatar>
      <img src="https://static.jojowiki.com/images/thumb/3/3a/latest/20210430072039/Jotaro_SC_Infobox_Anime.png/400px-Jotaro_SC_Infobox_Anime.png/400/400" />
    </ion-avatar>
  </ion-item>

  <ion-item>
    <ion-avatar >
      <img src="https://static.jojowiki.com/images/thumb/3/3a/latest/20210430072039/Jotaro_SC_Infobox_Anime.png/400px-Jotaro_SC_Infobox_Anime.png/400/400" />
    </ion-avatar>
  </ion-item>
  
  <ion-item>
    <ion-avatar>
      <img src="https://static.jojowiki.com/images/thumb/3/3a/latest/20210430072039/Jotaro_SC_Infobox_Anime.png/400px-Jotaro_SC_Infobox_Anime.png/400/400" />
    </ion-avatar>
  </ion-item>

  <ion-item>
    <ion-avatar>
      <img src="https://static.jojowiki.com/images/thumb/3/3a/latest/20210430072039/Jotaro_SC_Infobox_Anime.png/400px-Jotaro_SC_Infobox_Anime.png/400/400" />
    </ion-avatar>
  </ion-item>
</ion-content>
