<ion-header class="ion-border">
  <ion-toolbar>
    <ion-title>Notificaciones
      <ion-icon-content name="notifications-outline"></ion-icon-content>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-header>
  <div class="scroll-h">
    <button class="item">Notificaciones</button>
    <button class="item">Solicitudes</button>
    <button class="item">Mensajes</button>
  </div>
</ion-header>

<ion-content>
  
  <ion-card>
    <ion-icon name="sparkles-outline"></ion-icon>
    <ion-card-content>
      <img src="https://static.jojowiki.com/images/thumb/3/3a/latest/20210430072039/Jotaro_SC_Infobox_Anime.png/400px-Jotaro_SC_Infobox_Anime.png" />
    </ion-card-content>
    
    <ion-text>"Jotaro Kujo" a comentado la foto de "Dio Brando".</ion-text>
      
    <ion-card-content>
      <img src="https://www.kindpng.com/picc/m/100-1008402_world-jojo-png-transparent-png.png" />
    </ion-card-content>
  </ion-card>

<div class="ion-padding">
  <ion-card>
    <ion-icon name="sparkles-outline"></ion-icon>
    <ion-avatar src="https://static.jojowiki.com/images/thumb/3/3a/latest/20210430072039/Jotaro_SC_Infobox_Anime.png/400px-Jotaro_SC_Infobox_Anime.png"></ion-avatar>
  <ion-text>"Jotaro Kujo" a comentado la foto de "Dio Brando".</ion-text>
      <ion-card-content>
        <img src="https://www.kindpng.com/picc/m/100-1008402_world-jojo-png-transparent-png.png" />
      </ion-card-content>
  </ion-card>
</div>

<div class="ion-padding">
  <ion-card>
    <ion-icon name="sparkles-outline"></ion-icon>
    <ion-avatar src="https://static.jojowiki.com/images/thumb/3/3a/latest/20210430072039/Jotaro_SC_Infobox_Anime.png/400px-Jotaro_SC_Infobox_Anime.png"></ion-avatar>
  <ion-text>"Jotaro Kujo" a comentado las fotos de "Dio Brando".</ion-text>
      <ion-card-content>
        <img src="https://www.kindpng.com/picc/m/100-1008402_world-jojo-png-transparent-png.png" />
      </ion-card-content>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVufS2biE9gkxW14nKaXaCz72QVWQzT5wUbg&usqp=CAU" />
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVufS2biE9gkxW14nKaXaCz72QVWQzT5wUbg&usqp=CAU" />
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVufS2biE9gkxW14nKaXaCz72QVWQzT5wUbg&usqp=CAU" />
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVufS2biE9gkxW14nKaXaCz72QVWQzT5wUbg&usqp=CAU" />
  </ion-card>
</div>

  <div class="ion-padding">
  <ion-card>
    <ion-icon name="sparkles-outline"></ion-icon><br>
    <ion-text>Fotos recomendadas según tus gustos.</ion-text>
    <img src="https://www.kindpng.com/picc/m/100-1008402_world-jojo-png-transparent-png.png" />
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVufS2biE9gkxW14nKaXaCz72QVWQzT5wUbg&usqp=CAU" />
  </ion-card>
</div>
</ion-content>

