
ion-header {
  color: black;
  text-align: center;
  background-color: white;
}

.scroll-h {
  text-align: center;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  margin: 3px 3px;
  padding: 2px 5px;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    display: none;
  }

  .item {
    text-align: center;
    display: inline-block;
    background-color: aquamarine;
    padding: 5px;
    margin: 5px 3px;
    color: black;
    font-size: large;
    border-radius: 20px;
    border: 2px solid rgb(0, 182, 121);
  }

  .item:active{
    background-color: #bbb;
    color: white;
  }
}


  ion-img {
    border-radius: 20px;
    border: 2px solid rgb(0, 182, 121);
    margin-left: auto;
    margin-right: auto;
  }

  ion-card {
    border: 1px solid rgb(0, 182, 121);
    border-radius: 20px;
    background-color: white;
    columns: 2;
}

ion-card-content {
  border: 1px solid rgb(0, 182, 121);
  border-radius: 20px;
  background-color: white;
  columns: 3;
}

.img {
  max-width: auto;
  max-height: auto;
  padding: 3px;
  display: grid;
  grid-gap: 1rem;
}

ion-toolbar {
  color: black;
  place-items: center;
  text-align: center;
}

ion-text {
  place-items: center;
  text-align: center;
}

ion-icon {
  width: 20px;
  height: 20px;
}

ion-avatar {
  border-radius: 20px;
  border: 2px solid rgb(0, 182, 121);
  margin-left: auto;
  margin-right: auto;
}

img {
  border-radius: 20px;
  columns: 2;
}