
ion-header {
  color: black;
  text-align: center;
  background-color: white;
}

.scroll-h {
  text-align: center;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  margin: 3px 3px;
  padding: 2px 5px;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    display: none;
  }

  .item {
    text-align: center;
    display: inline-block;
    background-color: white;
    padding: 5px;
    margin: 5px 3px;
    color: gray;
    font-size: large;
    border-radius: 20px;
    border: 2px solid #bbb;
  }

  .item:active{
    background-color: #bbb;
    color: white;
  }
}

ion-card {  
  display: inline-flex;
  border: 1px solid #bbb;
  border-radius: 20px;
  background-color: white;
}

ion-toolbar {
  place-items: center;
  text-align: center;
}

ion-text {
  place-items: center;
  text-align: center;
}

ion-icon {
  width: 20px;
  height: 20px;
}

img {
  display: flex;
  place-items: center;
  width: calc(100vw/2 - 10px);
}