<ion-header class="ion-no-border">
  <div class="scroll-h">
    <button class="item">Interes</button>
    <button class="item">Interes</button>
    <button class="item">Interes</button>
    <button class="item">Interes</button>
    <button class="item">Interes</button>
    <button class="item">Interes</button>
  </div>
</ion-header>

<ion-content [fullscreen]="false">
  <div class="pin-display-left">
    <ion-card class="ion-no-padding">
      <ion-card-content>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a .<!-- alargar este manda todo a la b-->
      </ion-card-content>
    </ion-card>
  </div>
  <div class="pin-display-right">
    <ion-card class="ion-no-padding">
      <ion-card-content>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.<!--  acortar este manda todo a la b-->
      </ion-card-content>
    </ion-card>
  </div>
  <div class="pin-display-left">
    <ion-card class="ion-no-padding">
      <ion-card-content>
        Keep close to Nature's heart... and break clear away, once in awhile,
        
      </ion-card-content>
    </ion-card>
  </div>
  <div class="pin-display-right">
    <ion-card class="ion-no-padding">
      <ion-card-content>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
      </ion-card-content>
    </ion-card>
  </div>
  <div class="pin-display-left">
    <ion-card class="ion-no-padding">
      <ion-card-content>
        eep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
      </ion-card-content>
    </ion-card>
  </div>
  <div class="pin-display-right">
    <ion-card class="ion-no-padding">
      <ion-card-content>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
