<ion-header class="ion-no-border">
  <div class="scroll-h">
    <button class="item">Interes</button>
    <button class="item">Interes</button>
    <button class="item">Interes</button>
    <button class="item">Interes</button>
    <button class="item">Interes</button>
    <button class="item">Interes</button>
  </div>
</ion-header>

<ion-content>
  <div class="outer-block">
    <img src="../../assets/img/moto_1-1.png" />
    <img src="../../assets/img/Arbol_2-3.png">
    <img src="../../assets/img/Jotaro_long.png">
    <img src="../../assets/img/Arbol_2-3.png">
    <img src="../../assets/img/Jotaro_long.png">
    <img src="../../assets/img/moto_1-1.png" />
    <img src="../../assets/img/moto_1-1.png" />
    <img src="../../assets/img/Arbol_2-3.png">
    <img src="../../assets/img/moto_1-1.png" />
  </div>
</ion-content>
