<ion-header class="ion-no-border">
  <div class="scroll-h">
    <button class="item">Interes</button>
    <button class="item">Interes</button>
    <button class="item">Interes</button>
    <button class="item">Interes</button>
    <button class="item">Interes</button>
    <button class="item">Interes</button>
  </div>
</ion-header>

<ion-content [fullscreen]="false">
  <div class="outer-block">
    <ion-card class="ion-no-padding">
      <ion-card-content>
        <img src="https://static.jojowiki.com/images/thumb/3/3a/latest/20210430072039/Jotaro_SC_Infobox_Anime.png/400px-Jotaro_SC_Infobox_Anime.png/400/400" />
      </ion-card-content>
    </ion-card>
    <ion-card class="ion-no-padding">
      <ion-card-content>
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
      </ion-card-content>
    </ion-card>
    <ion-card class="ion-no-padding">
      <ion-card-content>
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
      </ion-card-content>
    </ion-card>
    <ion-card class="ion-no-padding">
      <ion-card-content>
        Keep close to Nature's heart... and break clear away, once in awhile,
      </ion-card-content>
    </ion-card>
    <ion-card class="ion-no-padding">
      <ion-card-content>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
      </ion-card-content>
    </ion-card>
    <ion-card class="ion-no-padding">
      <ion-card-content>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
      </ion-card-content>
    </ion-card>
  </div>




</ion-content>
